@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;

@{
    ViewData["Title"] = "Profile";
}


@if (signInManager.IsSignedIn(User))
{
    <p>Email : @userManager.GetUserName(User)</p>
    <p>Nom : @userManager.GetUserAsync(User).Result.Lastname</p>
    <p>Prénom : @userManager.GetUserAsync(User).Result.Firstname</p>
    <p>Adresse : @userManager.GetUserAsync(User).Result.Address</p>
    <p>Siret : @userManager.GetUserAsync(User).Result.Siret</p>
}
else
{
    <form class="form-inline my-2 my-lg-0">
        <a asp-action="register" asp-controller="account" class="btn btn-light">S'inscrire</a>
        <a asp-action="login" asp-controller="account" class="btn btn-dark">Connexion</a>
    </form>
}